.composable-search-container {
    /* Flexbox를 사용하여 레이아웃 관리 */
    display: flex;
    /* 기본적으로 div는 block이므로, flex-direction: column을 명시적으로 사용하면 수직 정렬이 명확해집니다. */
    flex-direction: column;
    border: 1px solid #eee;
}


/* 1. 공통 정렬 스타일 클래스 정의 (요소 자체를 Flex 컨테이너로 만듦) */
.flex-center-content {
    display: flex;
    /* Flex 컨테이너로 만들어야 내부 정렬 속성이 작동합니다. */
    align-items: center;
    justify-content: center;
}

.composable-search-selectors-area {
    border-bottom: 1px solid #ddd;
    display: flex;

}

.composable-search-detailed-conditions-area {
    border-bottom: 1px solid #ddd;
    /* 구분선 스타일 (색상 및 두께 지정) */
}

.composable-search-selected-conditions-area {}